form {
    display: flex;
}

input {
    display: flex;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    width: 200px;
    height: 23px;
}

.make-reservation-btn {
    width: 200px;
    height: 31px;
}